<%- include('./partials/header') %>

    <h1>Skills</h1>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
            <a href="/<%= s.id %>"><%= s.name %></a>
        </li>
      <% }); %>
    </ul>
    <h3><a href='/new'>Add Skill</a></h3>
<%- include('./partials/footer') %>
